@mixin flexX {
  display: flex;
  justify-content: center;
}

@mixin flexY {
  display: flex;
  align-items: center;
}

@mixin flexZ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexC {
  display: flex;
  justify-content: center;
  align-items: center;
}