.start{
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  h1,h2{
    line-height: 1;
    margin: 0;
  }
  &__container{
    @include make-container();
    @include max-container();
  }
  &__author{
    margin-bottom: 20px;
    h1{
      font-size: 22px;
      // @include light;
      letter-spacing: 1px;
    }
  }
  &__title{
    margin-bottom: 20px;
    h2{
      font-size: 45px;
      // @include bold;
    }
  }
  &__social{
    a{
      text-decoration: none;
      color: $accent;
      font-size: 28px;
      margin: 0 10px;
    }
  }
}